[req]
prompt=no
distinguished_name=dn
[dn]
CN=spotify-player.local
[extensions]
subjectAltName=DNS:spotify-player.local
basicConstraints=critical,CA:FALSE
keyUsage=critical,digitalSignature
extendedKeyUsage=serverAuth
